.top{
    height: 30px;
    background-color: #e3e4e5
}
.search{
    padding: 10px 0;
    border-bottom: 2px solid red;
}
.search-input{
    border-radius: 5px 0 0 5px
}
.search-btn{
    border-radius: 0 5px 5px 0;
    margin-left: -15px
}
.search a{
    font-size: 10px;
    text-decoration: none;
    color: #c1c1c1;
    cursor: pointer;
}
.search a:hover{
    color: red;
}
.search span{
    color: #dedede;
    padding: 0 5px;
}
.content{
    margin: 0 auto;
}

.content li{
    list-style: none;
    float: left;
    padding: 0 2px;
    margin-top: 10px;
}
.item{
    /*position: absolute;*/
    width: 250px;
    height: auto;
    /*border: 1px solid black;*/
    /*box-shadow: #c1c1c1 1px 1px 1px 1px;*/
    padding: 10px 0;
}
.item:hover{
    box-shadow: #c1c1c1 0px 0px 2px 1px;
}

.image{
    height: 200px;
    width: 220px;
    /*padding: 5px 10px;*/
    margin: 0 auto 10px;
}
.price{
    width: 220px;
    height: auto;
    margin: 0 auto 10px;
    color: red;
    font-size: 20px;
}
.title{
    width: 220px;
    height: 20px;
    margin: 0 auto 10px;
    font-size: 15px;
    overflow: hidden;
}
.shop{
    width: 220px;
    height: 22px;
    margin: 0 auto;
    font-size: 12px;
    color: #cbcbcb;
}

.bottom{
    text-align: center;
}