*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
*.log
.metadata/
.idea/
.mine/
logs/
dependency-reduced-pom.xml
*.rdb
*.log
*.gz
*apidocs/
*.versionsBackup
*.perm
webroot/
application-local*
env-local*

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
