<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="PROFILE_NAME" source="spring.profiles.active"/>
<!--    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${user.home}}/log/app.log}"/>-->
    <property name="LOG_FILE" value="log/app.log}"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <conversionRule conversionWord="ip" converterClass="com.ddy.dyy.web.lang.IPConverter"/>
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} ${APP_NAME} [%ip] [%X{msg_id}] [%X{traceId}] [%thread] %level %logger{39}.%L -%msg%n"/>
    <property name="FILE_LOG_PATTERN"    value="%d{yyyy-MM-dd'T'HH:mm:ss.SSS} ${APP_NAME} [%ip] [%X{msg_id}] [%X{traceId}] [%thread] %level %logger{39}.%L -%msg%n"/>

    <!-- copy form base.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <appender name="ASYNC-FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="FILE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC-FILE" />
    </root>

</configuration>
